name: CI-Pipeline

on: [ push, pull_request ]

jobs:
  build-site:
    name: Build Site
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Build
        run: chmod +x build.sh && ./build.sh
      - name: Store build artifact
        uses: actions/upload-artifact@v2
        with:
          name: site
          path: build/packages/site.zip
